/*More specific dominates, as does the one farther down in the CSS file, and on
top of that styles imbedded in the HTML code specifically (this is bad!)>*/


.digital p {
  background-color: red;
}

.analog p {
  background-color: yellow;
}

.digital p a {
  font-weight: bold;
  color: green;
  font-style: normal;
}

a {
  font-style: italic;
}



